@using SecretSanta.Services
@inject IAppSettings appSettings
@inject IAccountRepository accountRepository
@{
    var accounts = await accountRepository.GetAllAsync(default);
    var isAuthenticated =  User.Identity?.IsAuthenticated ?? false;
    var isAdmin = isAuthenticated
        ? User.Identity?.Name?.Equals(appSettings.AdminEmail, StringComparison.OrdinalIgnoreCase) ?? false
        : false;
    var currentUser = isAuthenticated
        ? accounts.SingleOrDefault(a => User.Identity?.Name?.Equals(a?.Email, StringComparison.OrdinalIgnoreCase) ?? false)
        : null;
    var hasPicked = (currentUser?.Picked.ContainsKey(DateHelper.Year) ?? false)
        && currentUser.Picked[DateHelper.Year] is not null;
    var pickedAccount = hasPicked 
        ? accounts.SingleOrDefault(a => a.Id == currentUser?.Picked[DateHelper.Year])
        : null;

    ViewBag.IsAuthenticated = isAuthenticated;
    ViewBag.IsAdmin = isAdmin;
    ViewBag.CurrentUserAccount = currentUser;
    ViewBag.HasPicked = hasPicked;
    ViewBag.PickedAccountId = pickedAccount?.Id; 
    ViewBag.PickedAccountDisplayName = pickedAccount?.DisplayName;
    ViewBag.GiftDollarLimit = appSettings.GiftDollarLimit.ToString("$0.00");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>@ViewBag.Title - SecretSanta</title>

    <link rel="stylesheet" href="~/css/bootswatch.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">            
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Secret Santa</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @if (ViewBag.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Gifts</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Wishlist" asp-action="Index" class="dropdown-item">My Wish List</a></li>
                                @if (ViewBag.HasPicked)
                                {
                                    <li><a asp-controller="Wishlist" asp-action="Details" asp-route-id="@ViewBag.PickedAccountId" class="dropdown-item">@ViewBag.PickedAccountDisplayName's Wish List</a></li>
                                }
                                <li><a asp-controller="Received" asp-action="Index" class="dropdown-item">Received Gifts</a></li>
                            </ul>                            
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><span class="bi bi-lock"></span> @ViewBag.CurrentUserAccount.DisplayName <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.IsAdmin)
                                {
                                    <li><a asp-controller="Admin" asp-action="Users" class="dropdown-item">Manage Users</a></li>
                                }
                                <li><a asp-controller="Account" asp-action="LogOut" class="dropdown-item">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <result-message></result-message>
        @RenderBody()
        @if (ViewBag.IsAuthenticated)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h2>Notes</h2>
                    <ul>
                        <li>Once you pick a recipient, you will get an e-mail with a reminder, plus the person's wish list.</li>
                        <li>The dollar limit per person is @ViewBag.GiftDollarLimit@(".")</li>
                        <li>Log back into this website with your e-mail address at any time to manage your wish list and view your recipient's wish list.</li>
                        <li>Preview images are pulled automagically from the given link address and may not be the correct picture, it's recommended that you click through to the actual linked page.</li>
                        <li>Click "Received Gifts" at the top to view the gifts everyone got and add your own!</li>
                        <li>The picking system will prevent you from picking the same person two years in a row!</li>
                    </ul>
                </div>
            </div>
        }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://github.com/bradwestness/SecretSanta">Secret Santa</a></p>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.maxfilesize.js"></script>
    <script async defer>
        (function ($) {
                        
            // hide dismissable alerts after 10 seconds
            setTimeout(function () {
                $(".alert-dismissable").slideUp("normal", function () {
                    $(this).remove();
                });
            }, 10000);

        })(window.jQuery);
    </script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
