@model ReceivedGiftEditModel
@{
    ViewBag.Title = "Received Gifts";
}

<div class="row">
    <div class="col-lg-8">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="col-lg-4 text-right">
        @if (Model.Item != null && !string.IsNullOrWhiteSpace(Model.Item.From))
        {
            <div class="text-right">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#UpdateGift">Update My Received Gift</button>
            </div>

            <div id="UpdateGift" class="modal fade">
                @Html.Partial("EditorTemplates/UpdateGift", Model.Item)
            </div>
        }
    </div>
</div>

@if (Model.Gifts != null && Model.Gifts.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Gift</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Gifts.Count(); i++)
            {
                    var gift = Model.Gifts.ElementAt(i);
                    var imageSrc = Url.Action("Image", "Received", new { accountId = gift.Id });
                <tr>
                    <td>
                        <p><strong>From:</strong> @gift.From</p>
                        <p><strong>To:</strong> @gift.To</p>
                        <p>@gift.Description</p>
                    </td>
                    <td>
                        <a href="@imageSrc" target="_blank">
                            <img class="img-responsive img-rounded" src="@imageSrc" alt="image" style="max-width: 200px;" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Looks like nobody has entered their received gifts yet.</p>
}
