@model SecretSanta.Models.WishlistEditModel
@{
    ViewBag.Title = "Manage Wish List";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>

    <div class="text-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#AddItem">Add Item</button>
    </div>

    <div id="AddItem" class="modal fade">
        @Html.Partial("EditorTemplates/AddItem", Model.NewItem)
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Account.Wishlist.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(m => m.Account.Wishlist[i].Name)</td>
                    <td>@Html.DisplayFor(m => m.Account.Wishlist[i].Description)</td>
                    <td>
                        <p>
                            <a target="_blank" href="@Model.Account.Wishlist[i].Url">More Information &raquo;</a>
                        </p>
                    </td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#EditItem@(i)">Edit</button>
                            <button class="btn btn-default" data-toggle="modal" data-target="#DeleteItem@(i)">Delete</button>
                        </div>

                        <div id="EditItem@(i)" class="modal fade">
                            @Html.Partial("EditorTemplates/EditItem", Model.Account.Wishlist[i])
                        </div>
                        <div id="DeleteItem@(i)" class="modal fade">
                            @Html.Partial("DisplayTemplates/DeleteItem", Model.Account.Wishlist[i])
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>