@model EditUsersModel
@{
    ViewBag.Title = "Manage Users";
}

<h1>@ViewBag.Title</h1>

<div class="text-right">
    <a asp-controller="Admin" asp-action="Invite" class="btn btn-default">Send Invitations</a>
    <a asp-controller="Admin" asp-action="ReceivedGift" class="btn btn-default">Send Received Gift Reminders</a>
    @if (Model?.AllPicked == true)
    {
        <a asp-controller="Admin" asp-action="AllPicked" class="btn btn-default">Send All Picked Reminders</a>
    }
    <a asp-controller="Admin" asp-action="Reset" class="btn btn-danger">Reset User Data</a>
    <button class="btn btn-primary" data-toggle="modal" data-target="#AddUser">Add User</button>
</div>

<div id="AddUser" class="modal fade">
    <partial name="EditorTemplates/AddUser" for="NewUser" />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Has Picked</th>
            <th>Has Been Picked</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < (Model?.Users.Count ?? 0); i++)
        {
            <tr>
                <td>@Model?.Users[i].DisplayName</td>
                <td>@Model?.Users[i].Email</td>
                <td>@Html.CheckBox("Users[" + i + "].HasPicked", Model?.Users[i].Picked.HasValue, new { disabled = "disabled" })</td>
                <td>@Html.CheckBox("Users[" + i + "].HasBeenPicked", !string.IsNullOrWhiteSpace(Model?.Users[i].PickedBy), new { disabled = "disabled" })</td>
                <td>
                    <div class="pull-right">
                        <a asp-controller="Wishlist" asp-action="Details" asp-route-id="Model?.Users[i].AccountId" class="btn btn-link">View Wishlist &raquo;</a>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#EditUser@(i)">Edit</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="#DeleteUser@(i)">Delete</button>
                    </div>

                    <div id="EditUser@(i)" class="modal fade">
                        @Html.EditorFor(m => m.Users[i], "EditUser")
                    </div>
                    <div id="DeleteUser@(i)" class="modal fade">
                        @Html.EditorFor(m => m.Users[i], "DeleteUser")
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>